---
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout>
    <div class="relative max-w-[var(--page-width)] mx-auto pointer-events-auto ">
        <div id="main-grid" class="transition duration-700 w-full left-0 right-0 mx-auto gap-4 px-0 md:px-4 onload-animation"
        >
        <div class="card-base px-8 py-6">
            
        </div>
    </div>
</MainLayout>